# vi: ft=swayconfig

for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [class="File Operation Progress"] floating enable

assign [app_id="Alacritty"] workspace number 1
assign [app_id="firefox"] workspace number 2
assign [app_id="Electron"] workspace number 3 
assign [class="Emacs"] workspace number 4 
assign [class="Code"] workspace number 4 
assign [app_id="prismlauncher"] workspace number 5
assign [class="Minecraft*"] workspace number 5
assign [class="Steam"] workspace number 5
